# custom files
custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea

.vimperator/info/default/history-search
.vimperator/info/default/local-marks
.vimperator/info/default/history-command

# zcompile cached files
*.zwc
